body {
    background: rgb(2, 0, 36);
    background: linear-gradient(31deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 122, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.main-body-container {
    min-height: 500px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

#container {
    padding: 10px;
    border: 1px solid #ddd;
    display: none;
    gap: 10px;
    justify-content: space-evenly;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .image-container {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    img {
        width: 100%;
    }
}

#imageContainer {
    padding: 10px;
    border: 1px solid #ddd;
    display: none;
    gap: 10px;
    justify-content: space-evenly;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .image-container {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}

.color-white {
    color: #fff;
}
